@font-face { font-family: Inconsolata; src: url("/Inconsolata.otf"); }

* { margin: 0; padding: 0; font: 20px/1.40em Inconsolata, 'HelveticaNeueLT Com 45 Lt', 'Helvetica Neue Light', 'Helvetice Neue', Helvetica, Arial, sans-serif; }
.clear { clear: both; }
#wrapper { max-width: 1000px; margin: 0 auto; }
textarea { display: block; width: 100%; border: 0; padding: 0; resize: none; }
textarea:focus { outline: none; }
#toolbar { height: 28px; color: #808080; position: relative; }
#toolbar * { color: #808080; }
#save-status { float: right; }
#key-wrapper { width: 164px; height: 28px; position: absolute; left: 50%; top: 0; margin-left: -68px;  }
#key { float: left; width: 124px; height: 28px; border: 0; text-align: center; }
#key-new, #key-export { width: 12px; float: left; text-decoration: none; margin-left: 2px; }
